<!DOCTYPE html>
<html>
    <head>
        <title>Simple Frontend</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </head>
    
    <body>
        <label for="user_input">Enter text</label>
        <input id="user_input" name="user_input" type="text">
        <button id="submit">Submit</button>
        <label for="result">Result:</label>
        <input id="result" name="result" readonly>
        
        <script>
            $(document).ready(function() {
                $('#submit').click(function() {
                    $.ajax({
                        url: "/process",
                        type: "POST",
                        data: {
                            user_input: $('#user_input').val()
                        },
                        success: function(data) {
                            $('#result').val(data.result);
                        }
                    });
                });
            });
        </script>
    </body>
</html>